.is-size-8{
    font-size: 0.7rem;
}

.is-size-5{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1em;
}

.table td, .table th{
    padding: 0;
}

.button {
    margin-top: 1em;
}

#id_debt {
    width: 40%;
}
