html, body{
    margin: 0;
    height: 100%;
}

.theme * {
    background-color: hsl(0, 0%, 48%);
    color: #ffffff;
}

p.navbar-link:hover, .button.is-link, .table th, .table tr th{
    color: #ffffff;
}

.navbar-link::after{
    border: 1px solid #00D1B1;
    border-right: 0;
    border-top: 0;
}

.navbar-dropdown{
    border-color: #ffffff;
}

.navbar-divider{
    background-color: #ffffff;
}

.checkbox:hover{
    color: #ffffff;
    font-weight:bold;
}

.button-big
{
    border-color: #ffffff !important;
}

#products .product,.type_product
{
    box-shadow: 0 2px 8px rgba(255,255,255,0.2);
}

.type_product
{
    background-image:none;
}

.type_product.selection
{
    background-image:none;
    border:5px solid #9500d7;
}