<!DOCTYPE html>
<html class="theme">
    <head>
        {% load static %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'Snack/js/ping.js'%}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
        <link rel="stylesheet" href="/static/Snack/css/default.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block stylesheet %}{% endblock %}
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                <div class="columns">
                    <div class="column">
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column is-half is-offset-one-quarter">
                        <div class="notification
                            {% if message.tags == 'success' %}
                                is-success
                            {% elif message.tags == 'error' %}
                                is-danger
                            {% elif message.tags == 'warning' %}
                                is-warning
                            {% elif message.tags == 'info' %}
                                is-info
                            {% endif %}
                        ">
                            <button class="delete"></button>
                            {{message}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
            <div class="container">
            </div>
        {% endblock %}
        <script>
            $(document).ready(function(){
                $(".delete").click(function(){
                    $(".notification").remove();
                });
            });
            {% block javascript %}{% endblock %}
        </script>
    </body>
</html>
