{% extends 'layout_account.html' %}
{% block stylesheet_bis %}
    {% load static %}
    <script src="{% static 'Snack/js/purchase.js'%}" type="text/javascript"></script>
{% endblock%}

{% block content_purchase %}
<!--
    onclick="addProduct(
                                            '{{product.id}}',
                                            '{{product.quantity}}',
                                            '{{product.price}}'
                                        )"
    onclick="removeProduct(
                                                        '{{product.id}}',
                                                        '{{product.price}}'
                                                    )"

!-->
<div style="text-align: center">
        <a href="/purchase?version=notouch" class="button button-big" style="margin:auto">No touch version</a>
</div>

    <nav id="types">
        {% for type in types %}
        <a href="/purchase?type={{type.name}}">
            <div class="type_product
            {% if type == typeSelect%}
                selection
            {% endif %}
            "> 
            <img src="{% static 'Snack/images/type/'%}{{type.name}}.svg"/>
            <h3>{{type.name}}</h3>
        </div>
        </a>
        {% endfor %}

    </nav>
    <div id="action">
        <button class="button is-success button-big" onclick="buy()">Buy</button>
        <button class="button button button-big" onclick="reset()">Cancel</button>
        <a class="button button logout button-big" href="{% url 'logout' %}"> Logout</a>
        
        <input type="checkbox" id="debt">
        <label title="If check the product will go in debt" for="debt">    
        
        <div class="slider button-big">
            <div class="puce">
                
            </div>    
        </div>
        <span class="textActiv text">
            In dept
        </span>
        <span class="textUnactiv text">
            Not in dept
        </span>
        
        </label>
    </div>
    <section id="products">
            {% for product in products %}
                {% if product.quantity > 0 %}
                    <div    class="product" 
                            data-id="{{product.id}}"
                            data-name="{{product.name}}"
                            data-quantity="{{product.quantity}}"
                            data-price="{{product.price}}"
                    >
                        <div class="price">{{product.price}} €</div>
                        <h3  class="name">{{product.name}}</h3>
                        <img class="couverture" src="{% static 'Snack/images/product/'%}{{product.name}}.jpg"/>
                        <div class="number nb" id="product_{{product.id}}_nb">0</div>
                        <img class="remove"
                             onclick="removeProduct(
                                        '{{product.id}}',
                                        '{{product.name}}',
                                        '{{product.price}}')" 
                             src="{% static 'Snack/images/cross.svg'%}"
                        />
                        
                    </div>
                {% endif%}
            {% endfor %}
    </section>

    <div class="modal" id="modal-buy">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Validation</p>
                <button class="delete" id="modal-delete"></button>
            </header>
            <section class="modal-card-body">
            </section>
            <footer class="modal-card-foot">
                <a class="button is-success button-big" id="valid">OK</a>
                <a class="button is-light button-big" id="cancel">Cancel</a>
            </footer>
        </div>
    </div>
{% endblock %}

{% block javascript-purchase %}

    function reset(){
        {% for product in products %}
            $("#product_{{product.id}}_nb").html('0');
            $("#total").html('0,00 €');
        {% endfor %}
        sessionStorage.clear();
    }

    function buy(){
        var products = {};
        var nb = 0;
        
        //list of products

        if(sessionStorage.amountProduct != null)
        {
            products = JSON.parse(sessionStorage.amountProduct);
            console.log(amountProduct)
        }

        
        
        
        

        $("#modal-buy").addClass("is-active");
        $("#modal-buy .modal-card-body").html("The amount of your order is : "+$("#total").text());
        if($("#debt").is(":checked")){
            $(".modal-card-body").append("<div class='debt-msg'>You put your order in debt</div>");
        }
        else
        {
            $(".modal-card-body").append("<br/><div class='debt-msg'>Not in debt</div>");
        }

        //action on button

        $('#modal-delete').click(function(){
            $('#modal-buy').attr('class', 'modal');
        });

        $('#cancel').click(function(){
            $('#modal-buy').attr('class', 'modal');
        });

        //ajax request

        $('#valid').click(function(){
            console.log("yo");
            $.ajax({
                type: "POST",
                async: false,
		url: "/purchase/",
                dataType: "json",
                traditional: true,
                data: {"products": JSON.stringify(products), "debt":$('#debt').is(":checked")},
                success: function(data) {
                    if(data.return){
                        sessionStorage.clear();
                        window.location.replace("/logout/");
                    } else {
                        location.reload();
                    }
                }
            });
        });
    }

    $( document ).ready(function() {

        //set click events
        $(".product").click(addProduct);
        //load values
        var nb = $('.nb');
        var session = 0;
        console.log(sessionStorage);
        for( var i=0;i<nb.length;i++){
            session = sessionStorage.getItem(nb[i].id);
            if(session != null){
                $('#'+nb[i].id).html(session);
            }
        }
    });

{% endblock %}
