{% extends 'layout_account.html' %}

{% block content_purchase %}
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Number</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <th onclick="addProduct(
                                        '{{product.id}}',
                                    )"
                                    style="cursor:pointer"
                                    >
                                    {{product.name}}
                                </th>
                                <td>
                                    <div class="field">
                                        <div class="control">
                                            <input class="input price"
                                                id="{{product.name}}_price"
                                                type="text"
                                                value="{{product.price}}"
                                                onchange="savePriceProduct(this,'{{product.name}}')"
                                            >
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="control">
                                            <input class="input"
                                                id="product_{{product.id}}_nb"
                                                type="text"
                                                value="{{product.quantity}}"
                                                onchange="saveNumberProduct('{{product.id}}','{{product.name}}')"
                                            >
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field is-grouped">
                                        <p class="control">
                                            <a class="button is-success is-small"
                                                name="{{product.name}}"
                                                onclick="addProduct(
                                                    '{{product.id}}',
                                                    '{{product.name}}'
                                                )">
                                            </a>
                                        </p>
                                        <p class="control">
                                            <a class="button is-danger is-small"
                                                name="{{product.name}}"
                                                onclick="removeProduct(
                                                    '{{product.id}}',
                                                    '{{product.name}}'
                                                )">
                                                -
                                            </a>
                                        </p>
                                    </div>
                                <td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
            <div class="column"></div>
        </div>
    </div>
{% endblock %}

{% block javascript-purchase %}
    function addProduct(productId,productName){
        var nb = parseInt($("#product_"+productId+"_nb").val());
        $("#product_"+productId+"_nb").val(nb+1);
        saveNumberProduct(productId,productName);
    }

    function removeProduct(productId,productName){
        var nb = parseInt($("#product_"+productId+"_nb").val());
        if(nb-1>0){
            $("#product_"+productId+"_nb").val(nb-1);
            saveNumberProduct(productId,productName);
        }
    }

    function saveNumberProduct(productId,productName){
        var quantity = parseInt($("#product_"+productId+"_nb").val());
        $.ajax({
            type: "POST",
            url: "/stock/",
            dataType: "json",
            traditional: true,
            data: {
                'type': JSON.stringify('number'),
                'productName': JSON.stringify(productName),
                'quantity': JSON.stringify(quantity)
            },
            success: function(data) {}
        });
    }

    function savePriceProduct(input,productName){
        console.log(input);
        var price = parseFloat(input.value.replace(",", "."));
        $.ajax({
            type: "POST",
            url: "/stock/",
            dataType: "json",
            traditional: true,
            data: {
                'type': JSON.stringify('price'),
                'productName': JSON.stringify(productName),
                'price': JSON.stringify(price)
            },
            success: function(data) {}
        });
    }

{% endblock %}
