{% extends 'layout_account.html' %}

{% block content_purchase %}
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Number</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <th onclick="addProduct(
                                        '{{product.id}}',
                                    )"
                                    style="cursor:pointer"
                                    >
                                    {{product.name}}
                                </th>
                                <td>
                                    <div class="field">
                                        <div class="control">
                                            <input class="input price"
                                                id="{{product.name}}_price"
                                                type="text"
                                                value="{{product.price}}"
                                                onchange="savePriceProduct(this,'{{product.name}}')"
                                            >
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="control">
                                            <input class="input"
                                                id="product_{{product.id}}_nb"
                                                type="text"
                                                value="{{product.quantity}}"
                                                onchange="saveNumberProduct('{{product.id}}','{{product.name}}')"
                                            >
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field is-grouped">
                                        <p class="control">
                                            <a class="button is-success is-small"
                                                name="{{product.name}}"
                                                onclick="addProduct(
                                                    '{{product.id}}',
                                                    '{{product.name}}'
                                                )">
                                                +
                                            </a>
                                        </p>
                                        <p class="control">
                                            <a class="button is-danger is-small"
                                                name="{{product.name}}"
                                                onclick="removeProduct(
                                                    '{{product.id}}',
                                                    '{{product.name}}'
                                                )">
                                                -
                                            </a>
                                        </p>
                                    </div>
                                <td>
                            </tr>
                        {% endfor %}
                </table>
                <a class="button is-success" id="createP">Create product</a>
            </div>
            <div class="column"></div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Create Product</p>
                <button class="delete" id="modal-delete"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="name">Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Name input" id="name">
                    </div>
                </div>
                <div class="field">
                    <label class="name">Price</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="Price input" id="price">
                    </div>
                </div>
                <div class="field">
                    <div class="select">
                        <select id="type">
                            {% for t in type %}
                                <option value="{{t.id}}_type">{{t.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label class="name">Number of products</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="Number input" id="quantity">
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <a class="button is-success" id="valid">OK</a>
                <a class="button" id="cancel">Cancel</a>
            </footer>
        </div>
    </div>
{% endblock %}

{% block javascript-purchase %}
    $('#createP').click(function(){
        $(".modal").addClass("is-active");
        $('#modal-delete').click(function(){
            $('.modal').attr('class', 'modal');
        });
        $('#valid').click(function(){
            $.ajax({
                type: "POST",
                url: "/create_product/",
                dataType: "json",
                traditional: true,
                data: {
                    'name': JSON.stringify($('#name').val()),
                    'price': JSON.stringify($('#price').val()),
                    'quantity': JSON.stringify($('#quantity').val()),
                    'type': JSON.stringify($('#type').val())
                },
                success: function(data) {
                    location.reload();
                }
            });
        });
        $('#cancel').click(function(){
            $('.modal').attr('class', 'modal');
        });
    });

    function addProduct(productId,productName){
        var nb = parseInt($("#product_"+productId+"_nb").val());
        $("#product_"+productId+"_nb").val(nb+1);
        saveNumberProduct(productId,productName);
    }

    function removeProduct(productId,productName){
        var nb = parseInt($("#product_"+productId+"_nb").val());
        if(nb-1>0){
            $("#product_"+productId+"_nb").val(nb-1);
            saveNumberProduct(productId,productName);
        }
    }

    function saveNumberProduct(productId,productName){
        var quantity = parseInt($("#product_"+productId+"_nb").val());
        $.ajax({
            type: "POST",
            url: "/stock/",
            dataType: "json",
            traditional: true,
            data: {
                'type': JSON.stringify('number'),
                'productName': JSON.stringify(productName),
                'quantity': JSON.stringify(quantity)
            },
            success: function(data) {}
        });
    }

    function savePriceProduct(input,productName){
        console.log(input);
        var price = parseFloat(input.value.replace(",", "."));
        $.ajax({
            type: "POST",
            url: "/stock/",
            dataType: "json",
            traditional: true,
            data: {
                'type': JSON.stringify('price'),
                'productName': JSON.stringify(productName),
                'price': JSON.stringify(price)
            },
            success: function(data) {}
        });
    }

{% endblock %}
