{% extends 'layout_account.html' %}
{% block content_purchase %}
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Number</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <th onclick="addProduct(
                                        '{{product.name}}',
                                    )"
                                    style="cursor:pointer"
                                    >
                                    {{product.name}}
                                </th>
                                <td onclick="addProduct(
                                        '{{product.name}}',
                                    )"
                                    style="cursor:pointer">
                                    {{product.price}} €
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="control">
                                            <input class="input"
                                                id="{{product.name}}_nb"
                                                type="text"
                                                value="{{product.quantity}}"
                                                onchange="saveNumberProduct('{{product.name}}')"
                                            >
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field is-grouped">
                                        <p class="control">
                                            <a class="button is-success is-small"
                                                name="{{product.name}}"
                                                onclick="addProduct(
                                                    '{{product.name}}',
                                                )">
                                                +
                                            </a>
                                        </p>
                                        <p class="control">
                                            <a class="button is-danger is-small"
                                                name="{{product.name}}"
                                                onclick="removeProduct(
                                                    '{{product.name}}',
                                                )">
                                                -
                                            </a>
                                        </p>
                                    </div>
                                <td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
            <div class="column"></div>
        </div>
    </div>
{% endblock %}

{% block javascript-purchase %}
    function addProduct(productName){
        var nb = parseInt($("#"+productName+"_nb").val());
        $("#"+productName+"_nb").val(nb+1);
        saveNumberProduct(productName);
    }

    function removeProduct(productName){
        var nb = parseInt($("#"+productName+"_nb").val());
        if(nb-1>0){
            $("#"+productName+"_nb").val(nb-1);
            saveNumberProduct(productName);
        }
    }

    function saveNumberProduct(productName){
        var quantity = parseInt($("#"+productName+"_nb").val());
        $.ajax({
            type: "POST",
            url: "/stock/",
            dataType: "json",
            traditional: true,
            data: {
                'productName': JSON.stringify(productName),
                'quantity': JSON.stringify(quantity)
            },
            success: function(data) {}
        });
    }
{% endblock %}
